*CLKernel_*.h
*MetalKernel_*.h
/.vscode/c_cpp_properties.json
/.vscode/settings.json
/.vscode/tasks.json
/tan/tanlibrary/src/Graal/OclKernels/amdFIR_kernels.h
/tan/samples/src/TrueAudioVR/Kernels/*.cl.h
/tan/samples/src/TrueAudioVR/Kernels/*.metal.h
/tan/build/cmake/linux
/tan/build/cmake/linux-*
/tan/build/cmake/mac
/tan/build/cmake/mac-*
/tan/build/cmake/vs20*
/thirdparty/portaudio/*
/thirdparty/fftw/*
/thirdparty/OpenCL-Headers/*
/tan/tanlibrary/src/fftw-3.3.5
/downloads
.DS_Store