*CLKernel_*.h
*MetalKernel_*.h
/.vscode/c_cpp_properties.json
/.vscode/settings.json
/.vscode/tasks.json
/tan/tanlibrary/src/Graal/OclKernels/amdFIR_kernels.h
/tan/samples/src/TrueAudioVR/Kernels/*.cl.h
/tan/samples/src/TrueAudioVR/Kernels/*.metal.h
/tan/build/cmake/linux
/tan/build/cmake/linux-amf
/tan/build/cmake/linux-cl
/tan/build/cmake/mac
/tan/build/cmake/mac-xcode
/tan/build/cmake/mac-xcode-amf
/tan/build/cmake/mac-xcode-cl
/tan/build/cmake/mac-gnumake
/tan/build/cmake/mac-gnumake-amf
/tan/build/cmake/mac-gnumake-cl
/tan/build/cmake/vs2015
/tan/build/cmake/vs2015-amf
/tan/build/cmake/vs2015-cl
/tan/build/cmake/vs2017
/tan/build/cmake/vs2017-amf
/tan/build/cmake/vs2017-cl
/thirdparty/portaudio/*
/thirdparty/fftw/*
/thirdparty/OpenCL-Headers/*
/tan/tanlibrary/src/fftw-3.3.5
/downloads
.DS_Store